<p class="p__contenedor--menu">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Mi menú lateral</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" >
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-toolbar>
</p>

<mat-drawer-container class="example-container">
  <mat-drawer #drawer opened mode="side">
  <mat-selection-list #shoes [multiple]="false">
    <mat-list-option *ngFor="let enlace of enlaces" [routerLink]="enlace.link" >
      {{enlace.nombre}}
    </mat-list-option>
  </mat-selection-list>
</mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>

